---

---


<h1>SHACL Shapes</h1>

<h2><a href="{{ page.rdf }}">{{ page.rdf }}</a></h2>

{% for nodeshapes in page.sub_rdf %}

<dl>
   
     <!-- convert nodeshapes to string -->
     {% capture string_nodeshapes %}
     {{ nodeshapes }}
     {% endcapture %}

     {% assign split_nodeshapes = string_nodeshapes | split: '#' %}

    <h2>{{ split_nodeshapes[1] }}</h2>

    <small>Type: {{ nodeshapes | rdf_property:'<http://www.w3.org/1999/02/22-rdf-syntax-ns#type>' }}</small>

    {% assign shapes = nodeshapes | rdf_get %}

    {% assign resultset = shapes | rdf_property: '<http://www.w3.org/ns/shacl#targetClass>', nil, true %}
    {% assign label = nodeshapes | rdf_property:'<http://www.w3.org/2000/01/rdf-schema#label>' %}
    {% assign comment = nodeshapes | rdf_property:'<http://www.w3.org/2000/01/rdf-schema#comment>' %}

    <ul>
        <br><li><b>TargetClass:</b></li>
        {% for class in resultset %}
        <ul>
            <li>{{ class }}</li>
        </ul>
        {% endfor %}
        <li><b>Label:</b> {{ label }}</li>
        <li><b>Comment:</b> {{ comment }}</li>
    </ul>

    <!-- Property -->

    {% assign prop_blanknode = shapes | rdf_property:'<http://www.w3.org/ns/shacl#property>' %}
    {% if prop_blanknode %}

    <ul>
        <li><b>Property:</b></li>
    </ul>

    {% assign query_prop = 'SELECT * WHERE { 
        ?resourceUri <http://www.w3.org/ns/shacl#property> ?blanknode . 
        ?blanknode ?property ?prop . 
    }' %}
    {% assign resultset = nodeshapes | sparql_query: query_prop %}

    {% for result in resultset %}
    <ul>
        <ul>
            <li>{{ result.property }} : {{ result.prop }}</li>
        </ul>
    </ul>
    {% endfor %}
    {% endif %}

    <!-- Sparql -->

    {% assign sparql_blanknode = nodeshapes | rdf_property:'<http://www.w3.org/ns/shacl#sparql>' %}
    {% if sparql_blanknode %}
    <ul>
        <li><b>Sparql:</b></li>
    </ul>

    {% assign query_sparql = 'SELECT * WHERE { 
        ?resourceUri <http://www.w3.org/ns/shacl#sparql> ?blanknode . 
        ?blanknode <http://www.w3.org/ns/shacl#select> ?select .
    }' %}
    {% assign resultset = nodeshapes | sparql_query: query_sparql %}
    {% for result in resultset %}
    <dl>
        <ul>
            <ul>
                <li>http://www.w3.org/ns/shacl#select : </li>
                <dd>{{ result.select }}</dd>
            </ul>    
        </ul>
    </dl>
    {% endfor %}

    {% assign query_sparql_type = 'SELECT * WHERE { 
        ?resourceUri <http://www.w3.org/ns/shacl#sparql> ?blanknode . 
        ?blanknode <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> ?type . 
    }' %}
    {% assign resultset = nodeshapes | sparql_query: query_sparql_type %}
    {% for result in resultset %}
    <dl>
        <ul>
            <ul>
                <li>http://www.w3.org/1999/02/22-rdf-syntax-ns#type : {{ result.type }}</li>
            </ul>
        </ul>
    </dl>
    {% endfor %}

    {% assign query_sparql_pref = 'SELECT * WHERE { 
        ?resourceUri <http://www.w3.org/ns/shacl#sparql> ?blanknode . 
        ?blanknode ?pref ?type . ?type ?prefix ?prefnode . 
        ?prefnode ?declare ?decval .
    }' %}
    {% assign resultset = nodeshapes | sparql_query: query_sparql_pref %}
    {% for result in resultset %}
    <dl>
        <ul>
            <ul>
                <li>{{ result.pref }} &#8594; {{ result.prefix }} &#8594; {{ result.declare }} : {{ result.decval }}</li>
            </ul>
        </ul>
    </dl>
    {% endfor %}
    {% endif %}

    {% assign or_blanknode = nodeshapes | rdf_property:'<http://www.w3.org/ns/shacl#or>' %}
    {% if or_blanknode %}

    <!-- Or -->

    <ul>
        <li><b>Or:</b></li>
    </ul>

    {% assign query_or = 'SELECT * WHERE { 
        ?resourceUri <http://www.w3.org/ns/shacl#or> ?blanknode . 
        ?blanknode ?or ?orval . 
        ?orval ?pattern ?patval . 
    }' %}
    {% assign resultset = nodeshapes | sparql_query: query_or %}
    {% for result in resultset %}
    <dl>
        <ul>
            <ul>
                <li>{{ result.or }} &#8594; {{ result.pattern }} : {{ result.patval }} </li>
            </ul>
        </ul>
    </dl>
    {% endfor %}

    {% assign query_or = 'SELECT * WHERE { 
        ?resourceUri <http://www.w3.org/ns/shacl#or> ?blanknode . 
        ?blanknode ?or ?orval . 
        ?orval ?pattern ?patval . 
        ?patval ?first ?fval .
    }' %}
    {% assign resultset = nodeshapes | sparql_query: query_or %}
    {% for result in resultset %}
    <dl>
        <ul>
            <ul>
                <li>{{ result.first }} : {{ result.fval }}</li>
            </ul>
        </ul>
    </dl>
    {% endfor %}
    {% endif %}
</dl>
{% endfor %}